
@import "tailwindcss";


@layer base {
    :root {
        --active-background: var(--color-background);
        --active-foreground: var(--color-foreground);
    }

    .dark {
        --active-background:var(--color-background-dark);
        --active-foreground: var(--color-foreground-dark);
    }
    html {
        font-family: var(--base-font);
    }
}

@theme {
    --shadow-primary: 0px 0px 0px 3px #f9670d4d;
    /* --color-background: hsl(54 100% 95%); */
    --color-foreground: hsl(54 100% 95%);
    --color-background: hsl(60 5% 12%);
    --color-primary: hsl(24 99% 49%);
    --color-primary-foreground : oklch(20.5% 0 0);
    --color-secondary : oklch(68.5% 0.169 237.323);
    --color-beige : hsl(50, 45%, 87%);
    --color-background-dark: hsl(60 5% 6%);
    --color-foreground-dark: hsl(54 100% 95%);
    --color-primary-dark: hsl(24 99% 49%);
    --font-base : var(--base-font);
    --font-dotted : var(--dotted-font);
    --font-anton : var(--anton);
    --font-uprightOne : var(--uprightone);
}

body {
    background: var(--active-background);
    color: var(--active-foreground);
}

.mesh-gradient {
    background:         
        linear-gradient(to bottom, hsla(197, 73%, 20%, 0.868) 0%,  hsla(23, 89%, 51%, 0.587) 100%);
}


@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}


/* animate blob of feature section */
@theme {
    --animate-blob : blob 7s infinite;

    @keyframes blob {
        0% {
            transform : translate(0px, 0px) scale(1);
        }
        33% {
            transform : translate(30px, -20px) scale(1.4)
        }
        66% {
            transform : translate(-20px, 20px) scale(0.9)
        }
        100% {
            transform : translate(0px , 0px) scale(1)
        }
    }
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  background: #ff7300;
  border-radius: 50%;
  animation: l1 3s infinite linear;
}
@keyframes l1{
  12.5% {border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%}
  25%   {border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%}
  37.5% {border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%}
  50%   {border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%}
  62.5% {border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%}
  75%   {border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%}
  87.5% {border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%}
}